@{
    ViewBag.Title = "IGM Flight Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Clients</h3>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success" onclick="AddUpdateAirIGMFlight(0)"><i class="fa fa-plus"></i> Add Flight Details</button>
            </div>
        </div>
        <div class="pull-right">
        </div>
    </div>
    <div class="box-body">
        <div class="table table-responsive">
            <table class="table table-bordered" id="tblAirFlight">
                <thead>
                    <tr>
                        <th>SNo</th>
                        <th>Client Name</th>
                        <th>Flight Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/PageScripts/AIRIGM/FlightDetails.js"></script>
}
