<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Cities</h3>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success" onclick="AddCity(0)"><i class="fa fa-plus"></i> Add New City</button>
            </div>
        </div>
        <div class="pull-right">
        </div>
    </div>
    <div class="box-body">
        <div class="table table-responsive">
            <table class="table table-bordered" id="tblCity">
                <thead>
                    <tr>
                        <th>
                            City Name
                        </th>
                        <th>State Name</th>
                        <th>Country Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/PageScripts/Masters/City.js"></script>
}

