<link href="~/Content/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/daterangepicker/daterangepicker.css" rel="stylesheet" />
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-files-o"></i>
            List of MBL(s) scheduled for Scheduling
        </h3>
        <br />
        <br />
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-warning pull-left" id="daterange-btn">
                    <span>
                        <i class="fa fa-calendar"></i>&nbsp;Select Date range
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <button id="btnApplyDateRange" class="btn btn-success"><i class="fa fa-search"></i></button>
                <button id="btnRemoveDateRange" class="btn btn-danger pull-right"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success" onclick="AddEditScheduling(0)"><i class="fa fa-plus"></i> Add New Schedule</button>
            <button type="button" class="btn btn-success" onclick="location.href='/SeaScheduling/BulkUploadHBL'">
                <i class="fa fa-upload"></i> Upload
            </button>
        </div>
    </div>

    <div class="box-body">
        <table id="tblScheduler" class="table table-bordered">
            <thead>
                <tr>
                    <th>SNo.</th>
                    <th>Client Name</th>
                    <th>MBLNo</th>
                    <th>POD</th>
                    <th>FPOD</th>
                    <th>Vessel Name</th>
                    <th>Container No</th>
                    <th>Shipping Line</th>
                    <th>EDA</th>
                    <th>CS/CA</th>
                    <th>ReceivedOn</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/plugins/moment/moment.min.js"></script>
    <script src="~/Content/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/PageScripts/SeaScheduling/SeaScheduling.js"></script>
}


